body {
  font-family: 'Fredoka One', cursive !important;
}
h1 {
  font-family: 'Fredoka One', cursive;
  font-size: 4rem !important;
  line-height: 1.5;
}

h2 {
  line-height: 1.5;
  font-size: 2rem !important;
}
p{
  color:#6d5e61;
}

#title {
  background-color: #ff4c68;
  color: #fff;
}

.container-fluid {
  padding: 3% 15% 7% !important;
}
/* navigation bar */
.navbar {
  padding: 0 0 4.5rem !important;
}

.navbar-brand {
  font-family: 'Fredoka One', cursive;
  font-size: 2.5rem !important;
  font-weight: lighter !important;
}

.nav-item {
  padding: 0 18px;
}

.nav-link {
  font-size: 1.2rem;
  font-family: 'Fredoka One', cursive;
}

/* download buttons */
.download-button {
  margin: 5% 3% 5% 0;
}

/* title image */
.title-image {
  width: 60%;
  transform: rotate(25deg);
  position: absolute;
  right: 30%;
}

#features {
  padding-top: 10%;
  padding-bottom: 15%;
  background-color: #fff;
  position: relative;
  z-index: 1;
}

.feature-box {
  text-align: center;
}

.icon-button {
  color: #ff7f93;
  transition-duration: 0.4s;
}

.icon-button:hover {
  background-color: white;
  color: #ff4c68;
}

#testimonials {
  padding: 7% 15%;
  text-align: center;
  background-color: #ff7f93;
  color: #fff;
}

.testimonial-image {
  width: 10%;
  border-radius: 100%;
  margin: 20px;
}

.carousel-item {
  padding: 7% 15%;
}

#press {
  background-color: #ff7f93;
  text-align: center;
  padding-bottom: 3%;
}

.press-logo {
  width: 15%;
  margin: 20px 20px 50px;
}

#pricing {
  padding: 100px;
  text-align: center;
}

.pricing-column {
  padding: 3% 2%;
}

#cta {
  background-color: #ff4c68;
  color: #fff;
  padding: 7% 15%;
  text-align: center;
}

.cta-heading {
  font-size: 3.5rem;
  line-height: 1.5;
}

#footer {
  padding: 7% 15%;
  text-align: center;
}

.social-icon {
  margin: 20px 10px;
}

@media(max-width: 1028px) {
  #title {
    text-align: center;
  }

  .title-image {
    position: static;
    transform: rotate(0);
  }
}
